@font-face{
    font-family: Karma-Light;
    src: url('./src/Karma-Light.ttf');
}

@font-face{
    font-family: Righteous-Regular;
    src: url('./src/Righteous-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    height:  80px;
    width: 100%;
    background: linear-gradient(#c95466, #a63446);
    border-bottom: 1px solid #9b3141 ;
}

.facebook-text{
    position: absolute;
    height: 63px;
    width: 190px;
    left: 13%;
    padding-top: 15px;
    font-family: Righteous-Regular;
    font-size: 45px;
    color: white;
}

.login-form{
    display: flex;
    position: absolute;
    font-family: Karma-Light;
    left: 58%;
    top: 15px;
}

.login-form .email, .login-form .password{
    padding-left: 10px;
}

.login-form .email .font, .login-form .password .font{
    font-size: 13px;
    padding-bottom: 4px;
    color: white;
}

.login-form .email input, .login-form .password input{
    height: 23px;
    width: 150px;
    padding-left: 5px;
    border: 1px solid black;
    outline:  none;
}

.login-btn{
    height: 24px;
    width: 50px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: white;
    background: #1DA4ED;
    border: 1px solid #222;
    font-family: Karma-Light;
}

.login-btn:hover{
    background: #094d71;
}

section{
    height: 887px;
    width: 100%;
    top: 800px;
    background: linear-gradient(#FCEEF4,#F8DDE9,#F5CCDE,#F2BBD3);
    font-family: Karma-Light;
}

.logo-body{
    position: absolute;
    left: 15%;
    top: 20%;
}

.logo-body .like-font{
    font-family: Righteous-Regular;
    font-size: 25px;
    margin-left: 9px;
}

.logo-body .font1{
    color: #BB2569;
    margin-left: 20px;
    margin-bottom: 5px;
}

.signup-body{
    font-family: Righteous-Regular;
    position: absolute;
    left: 57%;
    margin-top: 50px    ;
}

.signup-body .acc-crt{
    font-size: 40px;
    margin: 25px 0;
}

.signup-body .free-hint{
    font-family: Karma-Light;
    font-weight: 500;
    margin: -20px 5px;
    font-size: 18;
}

.signup-body .signup-form input{
    margin-top: 90px;
    height: 38px;
    width: 190px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid silver;
    border-radius: 4px;
}

.signup-body .signup-form .lastname{
    margin-left: 15px;
}

.signup-body .signup-form .email,
.signup-body .signup-form .password,
.signup-body .signup-form .password2{
    margin-top: 20px;
    width: 410px;
}

.signup-body .signup-form .birthday{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #0B5A84;
}

.signup-body .signup-form .birthday{
    margin-top: 5px;
}

.signup-body .signup-form .month,
.signup-body .signup-form .day,
.signup-body .signup-form .year{
    height: 28px;
}

.signup-body .signup-form .day,
.signup-body .signup-form .year{
    margin-left: -5px;
}

.signup-body .signup-form input[type="radio"]{
    height: 15px;
    margin-left: -50px;
    margin-top: 30px;
}

.signup-body .signup-form input[value="female"]{
    margin-left: -100px;
}

.signup-body .signup-form .font{
    margin-left: 57px;
    margin-top: -22px;
}

.signup-body .signup-form .font2{
    margin-left: 150px;
    margin-top: -21px;
}